.container{
    position: relative;
    color: white;
}
.schrift{
    position: absolute;
    top: 25%;
    width: 100%;
    text-align: center;
    font-family:'Italianno' ;
    font-size: 7rem;
    text-shadow: 3px 0px 2px #060308
    ;}

nav { 
    height: 5rem;
    font-family: 'Times New Roman', Times, serif;
    display: flex;
    align-items: center;
    justify-content: space-between;
    }
a{text-decoration: none;
color: #000;
font-size: 1.5rem;}

button {background-color: rgb(0, 174, 255);
text-align: center
;}

.schrift-2{
    position: absolute;
    top: 25%;
    width: 100%;
    color: #000;
    text-align: center ;
    font-size: 1.5rem;
    ;}

