.container{
    position: relative;
    color: white;
}
.header{
    position: absolute;
    top: 25%;
    width: 100%;
    text-align: center;
    font-family:'Italianno' ;
    font-size: 7rem;
    ;}

nav { 
    height: 5rem;
    font-family: 'Times New Roman', Times, serif;
    display: flex;
    align-items: center;
    justify-content: space-between;
    }
a{text-decoration: none;
color: #000;}
